Repository DOMjudge/domjudge-packaging: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pr-ci, release-ci, check-pr-contributor, release-contributor, check-pr-DOMjudge

pr-ci:
  services:
  - docker:dind
  stage: test
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - cd docker-gitlabci
  - "if [[ -z $DOCKER_HUB_USERNAME ]]; then\n  BASE=$CI_REGISTRY_IMAGE/$GITLABCI_IMAGE\nelse\n  BASE=\"domjudge/\"$GITLABCI_IMAGE\nfi\n"
  ...

release-ci:
  services:
  - docker:dind
  stage: deploy
  before_script:
  - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN
  script:
  - cd docker-gitlabci
  - "if [[ -z $DOCKER_HUB_USERNAME ]]; then\n  BASE=$CI_REGISTRY_IMAGE/$GITLABCI_IMAGE\nelse\n  BASE=\"domjudge/\"$GITLABCI_IMAGE\nfi\n"
  ...

check-pr-contributor:
  stage: test
  services:
  - docker:dind
  script:
  - cd docker-contributor
  - docker build .

release-contributor:
  services:
  - docker:dind
  stage: deploy
  before_script:
  - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN
  script:
  - cd docker-contributor
  - docker build -t $CONTRIBUTOR_IMAGE .
  - docker push $CONTRIBUTOR_IMAGE

check-pr-DOMjudge:
  stage: test
  services:
  - docker:dind
  script:
  - HUBURL="https://registry.hub.docker.com/v1/repositories/domjudge/domserver/tags"
  - apk add jq curl
  - TAG=$(curl "$HUBURL" | jq -r '.[].name' |sort|tail -n2|head -n1)
  - cd docker
  - sh ./build.sh $TAG

fix: SC2145
  live-image/files/etc/grub.d/11_domjudge
  live-image/files/usr/local/sbin/dj_live
Due: none

fix: SC2222
  live-image/files/usr/local/sbin/dj_live
Due: none

fix: disable SC2144
  live-image/install.sh
Due: none

fix: SC2006
  live-image/files/etc/grub.d/11_domjudge
  live-image/files/usr/local/sbin/dj_live
Due: none

feat: add clear command
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

Fix markup
  docker-contributor/scripts/start.sh
Due: check-pr-contributor, release-contributor

Fix quoting
  docker-contributor/scripts/start.sh
  docker-gitlabci/build.sh
  docker/build.sh
  docker/domserver/scripts/start.d/10-timezone.sh
  docker/domserver/scripts/start.d/50-domjudge.sh
  docker/domserver/scripts/start.sh
  docker/judgehost/scripts/start.sh
Due: pr-ci, release-ci, check-pr-contributor, release-contributor, check-pr-DOMjudge

Quote shell variables correctly
  debian/rules
Due: none

Replace legacy syntax
  debian/rules
  debian/src/dj_upgrade_chroot
Due: none

feat: add WEBAPP_BASEURL
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

feat: add WEBAPP_BASEURL when container started
  docker/domserver/configure.sh
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

docs: add WEBAPP_BASEURL env var comment
  docker/README.md
Due: check-pr-DOMjudge

chore: set severity to error
  .github/workflows/shellcheck.yml
Due: none

fix: default base url
  docker/domserver/build.sh
Due: check-pr-DOMjudge

fix: remove Asia/Shanghai
  docker/domserver/Dockerfile
Due: check-pr-DOMjudge

fix: typo
  docker/domserver/build.sh
Due: check-pr-DOMjudge

fix: sed Delimiter
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

fix: SC2046
  docker/domserver/scripts/start.sh
Due: check-pr-DOMjudge

fix: rewrite command
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

fix: some errors in sed
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

style: format
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

style: add new line at end of file
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

Install codespell directly in the container
  docker-gitlabci/Dockerfile
Due: pr-ci, release-ci

Move install from domjudge/ci to dedicated image
  docker-gitlabci/Dockerfile
Due: pr-ci, release-ci

Fix shellcheck issues in live-image scripts.
  live-image/install.sh
  live-image/prepare-for-install.sh
Due: none

fix: set permissions for webapp/public/images
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

refactor: use short path
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

chore: add allow for security.insecure
  .github/workflows/build_judgehost_in_docker.yml
Due: none

style: format
  .github/workflows/build_judgehost_in_docker.yml
Due: none

Path conditions:
  pr-ci: any of: .gitlab-ci.yml, docker-gitlabci/**/*
  release-ci: any of: .gitlab-ci.yml, docker-gitlabci/**/*
  check-pr-contributor: any of: .gitlab-ci.yml, docker-contributor/**/*
  release-contributor: any of: .gitlab-ci.yml, docker-contributor/**/*
  check-pr-DOMjudge: any of: .gitlab-ci.yml, docker/**/*
