Repository DOMjudge/domjudge-packaging: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pr-ci, release-ci, check-pr-contributor, release-contributor, check-pr-DOMjudge

pr-ci:
  services:
  - docker:dind
  stage: test
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - cd docker-gitlabci
  - "if [[ -z $DOCKER_HUB_USERNAME ]]; then\n  BASE=$CI_REGISTRY_IMAGE/$GITLABCI_IMAGE\nelse\n  BASE=\"domjudge/\"$GITLABCI_IMAGE\nfi\n"
  ...

release-ci:
  services:
  - docker:dind
  stage: deploy
  before_script:
  - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN
  script:
  - cd docker-gitlabci
  - "if [[ -z $DOCKER_HUB_USERNAME ]]; then\n  BASE=$CI_REGISTRY_IMAGE/$GITLABCI_IMAGE\nelse\n  BASE=\"domjudge/\"$GITLABCI_IMAGE\nfi\n"
  ...

check-pr-contributor:
  stage: test
  services:
  - docker:dind
  script:
  - cd docker-contributor
  - docker build .

release-contributor:
  services:
  - docker:dind
  stage: deploy
  before_script:
  - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN
  script:
  - cd docker-contributor
  - docker build -t $CONTRIBUTOR_IMAGE .
  - docker push $CONTRIBUTOR_IMAGE

check-pr-DOMjudge:
  stage: test
  services:
  - docker:dind
  script:
  - HUBURL="https://registry.hub.docker.com/v1/repositories/domjudge/domserver/tags"
  - apk add jq curl
  - TAG=$(curl "$HUBURL" | jq -r '.[].name' |sort|tail -n2|head -n1)
  - cd docker
  - sh ./build.sh $TAG

POSIX!
  docker/build.sh
  docker/domserver/build.sh
  docker/domserver/configure.sh
  docker/domserver/scripts/start.d/10-timezone.sh
  docker/domserver/scripts/start.d/90-symfony-cache.sh
  docker/domserver/scripts/start.sh
  docker/judgehost/build.sh
  docker/judgehost/configure.sh
Due: check-pr-DOMjudge

If we start a manual job we expect it to work.
  .gitlab-ci.yml
Due: pr-ci, release-ci, check-pr-contributor, release-contributor, check-pr-DOMjudge

Get rid of common-config.php
  debian/domjudge-common.install
  debian/rules
Due: none

Fix rules for domjudge 8.0
  debian/rules
Due: none

Also build the contributor image for linux/arm64/v8, needed by M1(/pro/max) Mac's
  .gitlab-ci.yml
  docker-contributor/Dockerfile
Due: pr-ci, release-ci, check-pr-contributor, release-contributor, check-pr-DOMjudge

feat: add custom docker build
  .github/workflows/build.yml
  docker/domserver/build.sh
  docker/domserver/configure.sh
  docker/download.sh
Due: check-pr-DOMjudge

chore: fix exec download script
  .github/workflows/build.yml
Due: none

chore: fix main branch suffix
  docker/download.sh
Due: check-pr-DOMjudge

feat: add build chroot ci
  .github/workflows/build_chroot.yml
  .github/workflows/build_domserver.yml
  .github/workflows/build_judgehost.yml
Due: none

feat: add judgehost build ci
  .github/workflows/build_judgehost.yml
  docker/judgehost/Dockerfile.all
Due: check-pr-DOMjudge

fix: run chroot-and-tar.sh
  docker/judgehost/Dockerfile.all
Due: check-pr-DOMjudge

fix: push judgehost image enable
  .github/workflows/build_judgehost.yml
Due: none

feat: use Asia/Shanghai TimeZone
  docker/domserver/Dockerfile
Due: check-pr-DOMjudge

feat: use TimeZone=Asia/Shanghai
  docker/judgehost/Dockerfile.all
Due: check-pr-DOMjudge

fix: remove TimeZone=Asia/Shanghai
  docker/judgehost/Dockerfile.all
Due: check-pr-DOMjudge

style: format
  docker/judgehost/Dockerfile.all
Due: check-pr-DOMjudge

feat: add package deps in chroot
  docker/judgehost/chroot-and-tar.sh
Due: check-pr-DOMjudge

feat: manual install deps
  docker/judgehost/chroot-and-tar.sh
Due: check-pr-DOMjudge

fix: remove extra -i
  docker/judgehost/chroot-and-tar.sh
Due: check-pr-DOMjudge

fix: deps list
  docker/judgehost/chroot-and-tar.sh
Due: check-pr-DOMjudge

feat: mount proc
  docker/judgehost/chroot-and-tar.sh
  docker/judgehost/scripts/start.sh
Due: check-pr-DOMjudge

feat: native build
  .github/workflows/build_judgehost.yml
  docker/judgehost/chroot-and-tar.sh
  docker/judgehost/scripts/start.sh
Due: check-pr-DOMjudge

feat: use sudo to run build script
  .github/workflows/build_judgehost.yml
Due: none

fix: add -y for dj_make_chroot
  docker/judgehost/chroot-and-tar.sh
Due: check-pr-DOMjudge

fix: add --privileged
  docker/build-judgehost.sh
Due: check-pr-DOMjudge

fix: add sudo to run chroot script
  docker/judgehost/chroot-and-tar.sh
Due: check-pr-DOMjudge

chore: add mount before start
  docker/build-judgehost.sh
  docker/judgehost/chroot-and-tar.sh
  docker/judgehost/scripts/start.sh
Due: check-pr-DOMjudge

feat: add build judgehost in docker
  .github/workflows/build_judgehost_in_docker.yml
Due: none

fix: remove mount before start
  docker/judgehost/scripts/start.sh
Due: check-pr-DOMjudge

fix: use --privileged
  docker/build-judgehost.sh
Due: check-pr-DOMjudge

New upstream release, refresh patch
  debian/changelog
  debian/patches/010_debianise_dj_make_chroot.patch
Due: none

fix: set the timezone in php.ini when the container start
  docker/domserver/scripts/start.d/10-timezone.sh
Due: check-pr-DOMjudge

fix: remove sed
  docker/domserver/scripts/start.d/10-timezone.sh
Due: check-pr-DOMjudge

feat: add custom TRUSTED_PROXIES by env var
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

Path conditions:
  pr-ci: any of: .gitlab-ci.yml, docker-gitlabci/**/*
  release-ci: any of: .gitlab-ci.yml, docker-gitlabci/**/*
  check-pr-contributor: any of: .gitlab-ci.yml, docker-contributor/**/*
  release-contributor: any of: .gitlab-ci.yml, docker-contributor/**/*
  check-pr-DOMjudge: any of: .gitlab-ci.yml, docker/**/*
