Repository DOMjudge/domjudge-packaging: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pr-ci, release-ci, check-pr-contributor, release-contributor, check-pr-DOMjudge

.gitlab-ci.yml:

include: '.tarball-release.yml'

image: docker:latest

stages:
  - test
  - deploy

variables:
  GITLABCI_VERSION:    "2.1"
  GITLABCI_IMAGE:      "gitlabci"
  CONTRIBUTOR_IMAGE:   "domjudge/domjudge-contributor"
  DOMJUDGE_VERSION:
    value:             "M.m.pp"
    description:       "The DOMjudge version, Change this variable to 7.3.3 to release the 7.3.3 dockers. The file should be available on the domjudge.org webserver."

# Docker Login steps
.release_template: &release_docker
  services:
    - docker:dind

.registry_template: &registry_gitlab
  <<: *release_docker
  stage: test
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

.registry_template: &registry_dockerhub
  <<: *release_docker
  stage: deploy
  before_script:
    - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN

.job_template: &job_check-pr
  stage: test
  services:
    - docker:dind
  except:
    - master

.job_template: &ci_template
  script:
    - cd docker-gitlabci
    - >
      if [[ -z $DOCKER_HUB_USERNAME ]]; then
        BASE=$CI_REGISTRY_IMAGE/$GITLABCI_IMAGE
      else
        BASE="domjudge/"$GITLABCI_IMAGE
      fi
    - sh ./build.sh $GITLABCI_VERSION $BASE
    - docker push $BASE:$GITLABCI_VERSION

pr-ci:
  <<: *registry_gitlab
  <<: *ci_template
  only:
    changes:
      - .gitlab-ci.yml
      - docker-gitlabci/**/*
  except:
    - master

release-ci:
  <<: *registry_dockerhub
  <<: *ci_template
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - docker-gitlabci/**/*

check-pr-contributor:
  <<: *job_check-pr
  only:
    changes:
      - .gitlab-ci.yml
      - docker-contributor/**/*
  script:
    - cd docker-contributor
    - docker build .

release-contributor:
  <<: *registry_dockerhub
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - docker-contributor/**/*
  script:
    - cd docker-contributor
    - docker build -t $CONTRIBUTOR_IMAGE .
    - docker push $CONTRIBUTOR_IMAGE

release-DOMjudge:
  <<: *registry_dockerhub
  when: manual
  only:
    - master
  script:
    - cd docker
    - sh ./build.sh $DOMJUDGE_VERSION
    - >
      for IMG in domserver judgehost default-judgehost-chroot; do
        docker push domjudge/$IMG:$DOMJUDGE_VERSION
        if [ ! -z ${LATEST} ]; then
          docker push domjudge/$IMG:latest
        fi
      done

check-pr-DOMjudge:
  <<: *job_check-pr
  only:
    changes:
      - .gitlab-ci.yml
      - docker/**/*
  script:
    - HUBURL="https://registry.hub.docker.com/v1/repositories/domjudge/domserver/tags"
    - apk add jq curl
    - TAG=$(curl "$HUBURL" | jq -r '.[].name' |sort|tail -n2|head -n1)
    - cd docker
    - sh ./build.sh $TAG

Add HEALTHCHECK to domserver Docker container
  docker/domserver/Dockerfile
  docker/domserver/scripts/bin/healthcheck
  docker/judgehost/Dockerfile
  docker/judgehost/Dockerfile.build
Due: check-pr-DOMjudge

Add curl and honor WEBAPP_BASEURL in health check
  docker/domserver/Dockerfile
  docker/domserver/scripts/bin/healthcheck
Due: check-pr-DOMjudge

Always rebuild containers
  .gitlab-ci.yml
Due: pr-ci, release-ci, check-pr-contributor, release-contributor, check-pr-DOMjudge

Fix shellcheck issues in live-image scripts.
  live-image/install.sh
  live-image/prepare-for-install.sh
Due: none

Use modern apt invocation
  docker-contributor/Dockerfile
  docker-gitlabci/Dockerfile
  docker/domserver/Dockerfile
  docker/judgehost/Dockerfile
  docker/judgehost/Dockerfile.build
  docker/judgehost/Dockerfile.chroot
Due: pr-ci, release-ci, check-pr-contributor, release-contributor, check-pr-DOMjudge

Allow backslashes in admin passwords
  live-image/files/usr/local/sbin/dj_live
Due: none

Remove legacy behaviour
  live-image/files/usr/local/sbin/dj_live
Due: none

Install additional PHP versions
  docker-contributor/Dockerfile
  docker-gitlabci/Dockerfile
Due: pr-ci, release-ci, check-pr-contributor, release-contributor

Replace legacy syntax as advised by shellcheck
  debian/src/dj_upgrade_chroot
  docker-contributor/Dockerfile
  docker-contributor/scripts/start.sh
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-contributor, release-contributor, check-pr-DOMjudge

Remove double negation
  docker-contributor/scripts/start.sh
  docker-gitlabci/build.sh
  docker/domserver/scripts/start.d/50-domjudge.sh
  docker/judgehost/scripts/start.sh
Due: pr-ci, release-ci, check-pr-contributor, release-contributor, check-pr-DOMjudge

Fix quoting
  docker-contributor/Dockerfile
Due: check-pr-contributor, release-contributor

Only measure coverage on OS PHP
  docker-contributor/Dockerfile
  docker-gitlabci/Dockerfile
Due: pr-ci, release-ci, check-pr-contributor, release-contributor

Add support for switching PHP version in contributor container.
  docker-contributor/Dockerfile
  docker-contributor/README.md
  docker-contributor/php-config/30-pcov.ini
  docker-contributor/scripts/bin/switch-php
  docker-contributor/scripts/start.sh
  docker-contributor/supervisor/php.conf
Due: check-pr-contributor, release-contributor

Also install pcov in CI image directly, since it uses the same config directory as the contributor image.
  docker-gitlabci/Dockerfile
Due: pr-ci, release-ci

Use specific PHP 7.4 versions of packages.
  docker-contributor/Dockerfile
  docker-gitlabci/Dockerfile
Due: pr-ci, release-ci, check-pr-contributor, release-contributor

chore: add repo for input
  .github/workflows/build_chroot.yml
  .github/workflows/build_domserver.yml
  .github/workflows/build_judgehost.yml
  .github/workflows/build_judgehost_in_docker.yml
  docker/download.sh
Due: check-pr-DOMjudge

feat: support git clone
  docker/download.sh
Due: check-pr-DOMjudge

fix: repo params in git clone
  docker/download.sh
Due: check-pr-DOMjudge

feat: add default value
  docker/download.sh
Due: check-pr-DOMjudge

Updates documention link for dj_make_chroot
  docker/judgehost/chroot-and-tar.sh
Due: check-pr-DOMjudge

Add docker workflow
  .github/workflows/build_and_push_docker.yml
Due: none

Change baseurl to chipcie url
  docker/domserver/build.sh
  docker/judgehost/build.sh
Due: check-pr-DOMjudge

Add support for printer
  docker/domserver/Dockerfile
  docker/domserver/scripts/bin/set_printer
  docker/domserver/scripts/start.d/20-cupsd.sh
Due: check-pr-DOMjudge

chore: add .vscode
  .vscode/settings.json
Due: none

chore: add .editorconfig
  .editorconfig
Due: none

chore: ignore words
  .vscode/settings.json
Due: none
