Repository DOMjudge/domjudge-packaging: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pr-ci, release-ci, check-pr-contributor, release-contributor

.gitlab-ci.yml:

include: '.release.yml'

image: docker:latest

stages:
  - test
  - release

variables:
  GITLABCI_VERSION:    "2.1"
  GITLABCI_IMAGE:      "gitlabci"
  CONTRIBUTOR_IMAGE:   "domjudge/domjudge-contributor"
  DOMJUDGE_VERSION:
    value:             "M.m.pp"
    description:       "The DOMjudge version, Change this variable to 7.3.3 to release the 7.3.3 dockers. The file should be available on the domjudge.org webserver."

# Docker Login steps
.release_template: &release_docker
  services:
    - docker:dind

.registry_template: &registry_gitlab
  <<: *release_docker
  stage: test
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

.registry_template: &registry_dockerhub
  <<: *release_docker
  stage: release
  before_script:
    - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN

.job_template: &job_check-pr
  stage: test
  services:
    - docker:dind
  except:
    - master

.job_template: &ci_template
  script:
    - cd docker-gitlabci
    - >
      if [[ -z $DOCKER_HUB_USERNAME ]]; then
        BASE=$CI_REGISTRY_IMAGE/$GITLABCI_IMAGE
      else
        BASE="domjudge/"$GITLABCI_IMAGE
      fi
    - sh ./build.sh $GITLABCI_VERSION $BASE
    - docker push $BASE:$GITLABCI_VERSION

.job_template: &major_template
  script:
    - cd docker
    - sh ./build.sh $DOMJUDGE_VERSION
    - >
      for IMG in domserver judgehost default-judgehost-chroot; do
        docker push domjudge/$IMG:$DOMJUDGE_VERSION
        if [ ! -z ${LATEST} ]; then
          docker push domjudge/$IMG:latest
        fi
      done

pr-ci:
  <<: *registry_gitlab
  <<: *ci_template
  only:
    changes:
      - .gitlab-ci.yml
      - docker-gitlabci/*
  except:
    - master

release-ci:
  <<: *registry_dockerhub
  <<: *ci_template
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - docker-gitlabci/*

check-pr-contributor:
  <<: *job_check-pr
  only:
    changes:
      - .gitlab-ci.yml
      - docker-contributor/*
  script:
    - cd docker-contributor
    - docker build .

release-contributor:
  <<: *registry_dockerhub
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - docker-contributor/*
  script:
    - cd docker-contributor
    - docker build -t $CONTRIBUTOR_IMAGE .
    - docker push $CONTRIBUTOR_IMAGE

release-DOMjudge-manual:
  <<: *registry_dockerhub
  <<: *major_template
  when: manual
  only:
    - master

release-DOMjudge-newrelease:
  <<: *registry_dockerhub
  <<: *major_template
  rules:
    - if: '$TRIGGER_JOB == "docker"'

Make maintainer image simular to production image
  docker-contributor/Dockerfile
Due: check-pr-contributor, release-contributor

package 7.3.2
  debian/changelog
Due: none

New upstream release.
  debian/changelog
Due: none

Added option for extra judgedaemons
  docker-contributor/Dockerfile
  docker-contributor/scripts/bin/extra-judges
  docker-contributor/supervisor/judgedaemon.conf
  docker-contributor/supervisor/judgedaemon0.conf
  docker-contributor/supervisor/judgedaemon1.conf
  docker-contributor/supervisor/judgedaemonextra.conf
Due: check-pr-contributor, release-contributor

Trigger docker builds on subdirectories
  .gitlab-ci.yml
Due: pr-ci, release-ci, check-pr-contributor, release-contributor

Document docker latest tag
  .gitlab-ci.yml
Due: pr-ci, release-ci, check-pr-contributor, release-contributor

Use correctly named variable
  .gitlab-ci.yml
Due: pr-ci, release-ci, check-pr-contributor, release-contributor

Tag container as latest
  .gitlab-ci.yml
Due: pr-ci, release-ci, check-pr-contributor, release-contributor

fix formatter of variables in supervisord command
  docker-contributor/supervisor/judgedaemon.conf
  docker-contributor/supervisor/judgedaemonextra.conf
Due: none

Decrease image size by using smaller debian image
  docker/domserver/Dockerfile
  docker/judgehost/Dockerfile
Due: none

Update for up to date standard
  docker/judgehost/Dockerfile.chroot
Due: none

Also needed in the build
  docker/judgehost/Dockerfile.build
Due: none

Fix org
  docker/domserver/Dockerfile
  docker/judgehost/Dockerfile
  docker/judgehost/Dockerfile.build
Due: none

latest is the stable tag
  docker/domserver/Dockerfile
  docker/judgehost/Dockerfile
  docker/judgehost/Dockerfile.build
Due: none

partial revert
  docker/judgehost/Dockerfile
Due: none

Let some tests freeze the time
  docker-gitlabci/Dockerfile
Due: pr-ci, release-ci

Update main branch name
  .tarball-release.yml
  live-image/README.live-publish-dir
Due: none

Install latexmk inside all Docker containers, needed for the docs
  docker-contributor/Dockerfile
  docker-gitlabci/Dockerfile
  docker/domserver/Dockerfile
Due: pr-ci, release-ci, check-pr-contributor, release-contributor

Use main instead of master
  .gitlab-ci.yml
Due: pr-ci, release-ci, check-pr-contributor, release-contributor

Add required Python packages for Python submit client.
  docker-gitlabci/Dockerfile
Due: pr-ci, release-ci

Allow parsing of YAML files
  docker-gitlabci/Dockerfile
Due: pr-ci, release-ci

Minor readme typo
  docker/README.md
Due: none

Docker build now needs more time
  .gitlab-ci.yml
Due: pr-ci, release-ci, check-pr-contributor, release-contributor

Trigger the actual timeout
  docker/domserver/Dockerfile
Due: none

Update domjudge and judgehost scripts
  docker/README.md
  docker/build-domjudge.sh
  docker/build-judgehost.sh
  docker/build.sh
  docker/domserver/Dockerfile
  docker/domserver/build.sh
  docker/domserver/configure.sh
  docker/domserver/scripts/start.d/10-timezone.sh
  docker/domserver/scripts/start.d/50-domjudge.sh
  docker/domserver/scripts/start.d/90-symfony-cache.sh
  docker/domserver/scripts/start.sh
  docker/domserver/supervisor/php.conf
  docker/examples/remote_user_scripts/20-add-firewall-remote-user.py
  docker/examples/remote_user_scripts/90-add-nginx-remote-user.sh
  docker/judgehost/Dockerfile
  docker/judgehost/Dockerfile.build
  docker/judgehost/build.sh
  docker/judgehost/chroot-and-tar.sh
  docker/judgehost/configure.sh
Due: none

POSIX!
  docker/build.sh
  docker/domserver/build.sh
  docker/domserver/configure.sh
  docker/domserver/scripts/start.d/10-timezone.sh
  docker/domserver/scripts/start.d/90-symfony-cache.sh
  docker/domserver/scripts/start.sh
  docker/judgehost/build.sh
  docker/judgehost/configure.sh
Due: none
