Repository DOMjudge/domjudge-packaging: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pr-ci, release-ci, check-pr-contributor, release-contributor, check-pr-DOMjudge

.gitlab-ci.yml:

include: '.tarball-release.yml'

image: docker:latest

stages:
  - test
  - deploy

variables:
  GITLABCI_VERSION:    "2.1"
  GITLABCI_IMAGE:      "gitlabci"
  CONTRIBUTOR_IMAGE:   "domjudge/domjudge-contributor"
  DOMJUDGE_VERSION:
    value:             "M.m.pp"
    description:       "The DOMjudge version, Change this variable to 7.3.3 to release the 7.3.3 dockers. The file should be available on the domjudge.org webserver."

# Docker Login steps
.release_template: &release_docker
  services:
    - docker:dind

.registry_template: &registry_gitlab
  <<: *release_docker
  stage: test
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

.registry_template: &registry_dockerhub
  <<: *release_docker
  stage: deploy
  before_script:
    - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN

.job_template: &job_check-pr
  stage: test
  services:
    - docker:dind
  except:
    - master

.job_template: &ci_template
  script:
    - cd docker-gitlabci
    - >
      if [[ -z $DOCKER_HUB_USERNAME ]]; then
        BASE=$CI_REGISTRY_IMAGE/$GITLABCI_IMAGE
      else
        BASE="domjudge/"$GITLABCI_IMAGE
      fi
    - sh ./build.sh $GITLABCI_VERSION $BASE
    - docker push $BASE:$GITLABCI_VERSION

pr-ci:
  <<: *registry_gitlab
  <<: *ci_template
  only:
    changes:
      - .gitlab-ci.yml
      - docker-gitlabci/**/*
  except:
    - master

release-ci:
  <<: *registry_dockerhub
  <<: *ci_template
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - docker-gitlabci/**/*

check-pr-contributor:
  <<: *job_check-pr
  only:
    changes:
      - .gitlab-ci.yml
      - docker-contributor/**/*
  script:
    - cd docker-contributor
    - docker build .

release-contributor:
  <<: *registry_dockerhub
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - docker-contributor/**/*
  script:
    - cd docker-contributor
    - docker build -t $CONTRIBUTOR_IMAGE .
    - docker push $CONTRIBUTOR_IMAGE

release-DOMjudge:
  <<: *registry_dockerhub
  when: manual
  only:
    - master
  script:
    - cd docker
    - sh ./build.sh $DOMJUDGE_VERSION
    - >
      for IMG in domserver judgehost default-judgehost-chroot; do
        docker push domjudge/$IMG:$DOMJUDGE_VERSION
        if [ ! -z ${LATEST} ]; then
          docker push domjudge/$IMG:latest
        fi
      done

check-pr-DOMjudge:
  <<: *job_check-pr
  only:
    changes:
      - .gitlab-ci.yml
      - docker/**/*
  script:
    - HUBURL="https://registry.hub.docker.com/v1/repositories/domjudge/domserver/tags"
    - apk add jq curl
    - TAG=$(curl "$HUBURL" | jq -r '.[].name' |sort|tail -n2|head -n1)
    - cd docker
    - sh ./build.sh $TAG

docs: TRUSTED_PROXIES comment
  docker/README.md
Due: check-pr-DOMjudge

fix: remove PRE_TRUSTED_PROXIES
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

fix: use file_or_env to get TRUSTED_PROXIES
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

refactor: append trusted proxies instead of replacing
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

docs: fix typo
  docker/README.md
Due: check-pr-DOMjudge

feat: Add trusted proxies for Nginx
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

fix: remove TRUSTED_PROXIES which in .env.local
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

fix: recover Docker gateway as a trusted proxy in .env.local
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

feat: add custom TRUSTED_PROXIES by env var
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

fix: set the timezone in php.ini when the container start
  docker/domserver/scripts/start.d/10-timezone.sh
Due: check-pr-DOMjudge

fix: remove sed
  docker/domserver/scripts/start.d/10-timezone.sh
Due: check-pr-DOMjudge

Move trusted proxies config to right place.
  docker/README.md
Due: check-pr-DOMjudge

feat: add WEBAPP_BASEURL
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

fix: some errors in scripts
  docker/domserver/configure.sh
  docker/domserver/scripts/start.d/90-symfony-cache.sh
  docker/examples/remote_user_scripts/90-add-nginx-remote-user.sh
  docker/judgehost/build.sh
  docker/judgehost/configure.sh
Due: check-pr-DOMjudge

fix: add domjudge user
  docker/judgehost/build.sh
Due: check-pr-DOMjudge

fix: remove double quote
  docker/domserver/configure.sh
  docker/judgehost/configure.sh
Due: check-pr-DOMjudge

Add shellcheck GHA
  .github/workflows/shellcheck.yml
Due: none

feat: add WEBAPP_BASEURL when container started
  docker/domserver/configure.sh
  docker/domserver/scripts/start.d/50-domjudge.sh
Due: check-pr-DOMjudge

docs: add WEBAPP_BASEURL env var comment
  docker/README.md
Due: check-pr-DOMjudge

fix: SC2145
  live-image/files/etc/grub.d/11_domjudge
  live-image/files/usr/local/sbin/dj_live
Due: none

fix: SC2006
  live-image/files/etc/grub.d/11_domjudge
  live-image/files/usr/local/sbin/dj_live
Due: none

fix: SC2222
  live-image/files/usr/local/sbin/dj_live
Due: none

fix: disable SC2144
  live-image/install.sh
Due: none

fix: disable SC2154 and SC2034
  docker-contributor/scripts/start.sh
  docker/examples/remote_user_scripts/90-add-nginx-remote-user.sh
Due: check-pr-contributor, release-contributor, check-pr-DOMjudge

Run GHA on PR from fork
  .github/workflows/shellcheck.yml
Due: none

Disable annotation
  .github/workflows/shellcheck.yml
Due: none
